@font-face {
  font-family: 'Nexa';
  src: url('fonts/Nexa-ExtraLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('fonts/Nexa-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Nexa', sans-serif;
  padding: 2rem;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}
